.DPIContainer {
    width: 100%;
    background-color: aliceblue;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DPIDateCont span {
    margin: 24px;
    font-size: 24px;
}

.DPIDateCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 90%;
}

.DPIDateInp {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.DPIInp {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.DPIInp input {
    height: 100%;
}

.DPIContainer label {
    margin-right: 10px;
    font-size: 18px;
}

.labeStyle {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.selectStyle {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.filter {
    margin: 20px;
}


.DPItableCont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    overflow-x: scroll;
}

.DPItableCont table {
    width: 98%;
    background-color: rgb(192, 226, 255);
    display: block;
    overflow-x: scroll;
    /* white-space: nowrap; */
    border-collapse: collapse;
}

.DPItableCont table td,
.DPItableCont table th {
    padding: 5px;
}

.grpButton {
    padding: 5px 20px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.grpButton:hover {
    background-color: #0056b3;
}

.DPItableCont {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    /* Add a border to the container */
}


.DPItableCont table {
    border-collapse: collapse;
}

.expandable {
    display: table-cell;
}

.DPIplusTd .fa-solid {
    display: none;
}

.DPIplusTd .newDrop {
    display: none;
}

#numD {
    text-align: center;
}

@media screen and (max-width:1124px) {
    .DPItableCont table {
        width: 95%;
        display: table;
        overflow-x: scroll;
        white-space: wrap;
        border-collapse: collapse;
    }

    .DPItableCont .hidden {
        display: none;
    }

    .DPIplusTd .fa-solid {
        display: contents;
    }

    .DPIplusTd .newDrop {
        display: block;
    }

    .DPIplusTd {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }

}


@media screen and (max-width: 768px) {
    .DPItableCont table {
        width: 95%;
        display: table;
        overflow-x: scroll;
        white-space: wrap;
        border-collapse: collapse;
    }

    .DPItableCont .hidden {
        display: none;
    }

    .DPIplusTd .fa-solid {
        display: contents;
    }

    .DPIplusTd {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
    }

    .DPIInp label {
        font-size: medium;
    }

    .DPIInp input {
        height: 20px;
    }

    .DPIDateInp .grpButton {
        height: 36px;
        width: 63px;
        margin-left: 10px;
    }

    .DPIDateCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
        width: 95%;
    }

    .DPIDateInp {
        width: 100%;
    }

    th,
    td {
        min-width: 160px;
    }

}