.DIContainer {
    width: 100%;
    background-color: aliceblue;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    margin: 24px;
    font-size: 24px;
}

.DIDateCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 90%;
}

.DIDateInp {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.DIInp {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

input {
    height: 100%;
}

label {
    margin-right: 10px;
    font-size: 18px;
}

.labeStyle {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.selectStyle {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.filter {
    margin: 20px;
}


.DItableCont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

table {
    width: 95%;
    background-color: rgb(192, 226, 255);
}

.grpButton {
    padding: 5px 20px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.grpButton:hover {
    background-color: #0056b3;
}

.DItableCont {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    /* Add a border to the container */
}


.DItableCont table {
    border-collapse: collapse;
}

.expandable {
    display: table-cell;
}

.DIplusTd .fa-solid {
    display: none;
}

@media screen and (max-width:1124px) {
    .DItableCont .hidden {
        display: none;
    }

    .DIplusTd .fa-solid {
        display: contents;
    }

    .DIplusTd {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }

}


@media screen and (max-width: 768px) {
    .DItableCont .hidden {
        display: none;
    }

    .DIplusTd .fa-solid {
        display: contents;
    }

    .DIplusTd {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }


    /* .DItableCont table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
    } */

    .DIInp label {
        font-size: medium;
    }

    .DIInp input {
        height: 20px;
    }

    .DIDateInp .grpButton {
        height: 36px;
        width: 63px;
        margin-left: 10px;
    }

    .DIDateCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
        width: 95%;
    }

    .DIDateInp {
        width: 100%;
    }

    th,
    td {
        min-width: 160px;
    }

}