.admPanCont {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

.items {
    padding: 10px;
    background-color: #0084ff;
    height: fit-content;
    margin-top: 20px;
}

.custom-link {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:768px) {
    .admPanCont {
        display: flex;
        height: 50vh;
    }
}