.PassWrapper {
    height: 100vh;
}

.PSE-Head-Cont {
    height: 50px;
    background-color: #EE6B61;
    display: flex;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.PSE-PSE {
    padding: 10px;
    font-size: 22px;
}

.PSE-Head-left-content {
    display: flex;
    align-items: center;
}

.PSE-Head-right-content {
    margin-left: auto;
}

.PSE-Head-right-content i:hover {
    cursor: pointer;
}

.PSE-PSE2 {
    background-color: #BDD7D6;
    font-size: 22px;
    padding: 12px;
}

p {
    display: none;
}

.PSE-Table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.PSE-Table table td,
.PSE-Table table th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

.PSE-Table table td {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
}

.PSE-Table table th {
    background-color: #ffffff;
}

/* CSS */
.PSE-Table table tr:nth-child(even) {
    background-color: #94e6e0;
}

.PSE-Table table tr:nth-child(odd) {
    background-color: #ffffff;
}


.PSE-Table table tr:nth-of-type(even) td {
    background-color: lighten(#4ECDC4, 35%);
}

.PSE-Table table tr:hover {
    background-color: #BDD7D6;
    cursor: pointer;
}

.PSE-Selected-User {
    margin-top: 12px;
    display: flex;
    padding: 12px;
    background-color: #BDD7D6;
}

.AvatarCont {
    padding: 12px;
    background-color: #ffffff;
}

.PSE-User-Details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    margin-left: 18px;
    font-size: 18px;
}

.PSE-ID-Cont,
.PSE-Name-Cont,
.PSE-Sales-Cont {
    display: flex;
}

.PSE-data {
    padding-left: 12px;
}


.mobile-header {
    display: none;
}

/* .PSE-Table table {
    overflow-x: scroll;
} */

/* @media only screen and (max-width: 760px) {
    p {
        display: block;
        font-weight: bold;
    }

    table {
        tr {

            td:not(:first-child),
            th:not(:first-child),
            td:not(.total-val) {
                display: none;
            }

            &:nth-of-type(even) td:first-child {
                background-color: lighten(#4ECDC4, 35%);
            }

            &:nth-of-type(odd) td:first-child {
                background-color: white;
            }

            &:nth-of-type(even) td:not(:first-child) {
                background-color: white;
            }

            th:first-child {
                width: 100%;
                display: block;
            }

            th:not(:first-child) {
                width: 40%;
                transition: transform 0.4s ease-out;
                transform: translateY(-9999px);
                position: relative;
                z-index: -1;
            }

            td:not(:first-child) {
                transition: transform 0.4s ease-out;
                transform: translateY(-9999px);
                width: 60%;
                position: relative;
                z-index: -1;
            }

            td:first-child {
                display: block;
                cursor: pointer;
            }

            &.total th {
                width: 25%;
                display: inline-block;
            }

            td.total-val {
                display: inline-block;
                transform: translateY(0);
                width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    table {
        tr {
            th:not(:first-child) {
                width: 50%;
                font-size: 14px;
            }

            td:not(:first-child) {
                width: 50%;
                font-size: 14px;
            }
        }
    }
} */