.PI-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.PI-Cont {
    width: 95%;
    border: 1px solid #7F9D9D;
}

.PI-Head-Cont {
    height: 50px;
    background-color: #00A0B6;
    display: flex;
    color: white;
}

.PI-Head-Cont {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PI-PI {
    padding: 10px;
    font-size: 18px;
}

.PI-Head-left-content {
    display: flex;
    align-items: center;
}

.PI-Head-right-content {
    margin-left: auto;
}


.PI-Body {
    display: flex;
}

.PI-left-content {
    flex: 1;
    background-color: #7F9D9D;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PI-right-content {
    flex: 4;
    /* Adjust this value as needed to control the relative width */
}

.PI-Upload-Cont {
    flex: 8;
    display: flex;
    align-items: center;
}

.PI-SDC-Cont {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.PI-LeftButton {
    text-align: center;
    background-color: #BDD7D6;
    padding: 15px;
    width: 180px;
}

.PI-right-content {
    padding: 12px;
}

.PI-RHead-Cont {
    background-color: #BDD7D6;
    padding: 10px;
}

.PI-Login {
    display: flex;
    justify-content: space-evenly;
}

.PI-Edit-Cont {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.PI-Edit {
    background-color: #7F9D9D;
    padding: 8px;
}

.PI-RBODY-Cont {
    padding: 10px;
}

.PI-RPerson {
    display: flex;
    padding: 12px;
}

.PI-Personal {
    padding-left: 10px;
    font-size: 22px;
    color: #00AEDB;
}

.PI-Name {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.DOB-CONT {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.DBCONT,
.NATCONT,
.MARCONT,
.HGH,
.GNDCONT,
.WGHCONT {
    padding: 10px;
}

.JobDetails {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.JOBPADDER {
    padding: 10px;
}

.JobType {
    padding-top: 50px;
}

.Grade {
    padding-top: 96px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.AllowOnline {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.AllowTogglerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 20%;
    padding: 8px;
}


.ToggleComments {
    color: #87CEFA;
    font-style: italic;
}

.PI-Cont input {
    height: 30px;
}

.PI-Cont select {
    height: 30px;
}

#contactInfo {
    background-color: #BDD7D6;
}

.AddressCont {
    display: flex;
}

.ContactInfoCont {
    padding: 12px;
}

.ContactInfoCont textarea {
    height: 150px;
    width: 280px;
}

.ContactInfoCont {
    font-size: 18px;
}

.CurrentHomeCont,
.AddressBoxesCont,
.HomeCont,
.AddressBoxesCont {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#cmtBox {
    margin-bottom: 15px;
}

.CurrentHomeCont {
    justify-content: space-between;
}

.ContactWrapper {
    margin-top: 15px;
}

.ContactCont {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    height: 150px;
}

.workCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.WorkBoxCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    margin-right: 8px;
}

.ContactCont input {
    width: 100%;
    /* margin-bottom: 12px; */
}