.TimeSheetWrapper {
    width: 100%;
    height: 100vh;
}

.TimeSheetCont {
    width: 100%;
}

.TSH-Head-Cont {
    height: 50px;
    background-color: #00A0B6;
    display: flex;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TSH-TOPCONT {
    border-bottom: 5px solid #4ECDC4;
}


.TSH-TSH {
    padding: 10px;
    font-size: 22px;
}

.TSH-Head-left-content {
    display: flex;
    align-items: center;
}

.TSH-Head-right-content {
    margin-left: auto;
}

.TSH-Head-right-content i:hover {
    cursor: pointer;
}

.TSH-TOPCONT {
    display: flex;
}

.TSH-DEPCONT {
    display: flex;
    flex-direction: column;
    background-color: #BDD7D6;
}

.TSH-DEP {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.TSH-MONTH,
.GENEMPBUTTON {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.GENEMPBUTTON button {
    padding: 12px;
    background-color: #7F9D9D;
    font-size: 14px;
    border: #7F9D9D;
}

.GENEMPBUTTON button:hover {
    background-color: #a2e0e0;
    cursor: pointer;
}

.TSH-Selected-User {
    margin-top: 12px;
    display: flex;
    padding: 12px;
    background-color: #BDD7D6;
}

.TSH-USERPROF {
    font-size: 16px;
}

.AvatarCont {
    padding: 12px;
    background-color: #ffffff;
}

.TSH-User-Details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    margin-left: 10px;
    font-size: 16px;
}

.TSH-ID-Cont,
.TSH-Name-Cont,
.TSH-Sales-Cont {
    display: flex;
}

.TSH-data {
    padding-left: 12px;
}


.TSH-TOPTABLECONT {
    width: 100%;
    overflow-x: scroll;
}

.TSH-Table {
    min-width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    /* Prevent line breaks */
}

.TSH-Table th,
.TSH-Table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* Add any additional styling you need for your table */




.TSH-Table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.TSH-Table table td,
.TSH-Table table th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

.TSH-Table table td {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
}

.TSH-Table table th {
    background-color: #ffffff;
}

/* CSS */
.TSH-Table table tr:nth-child(even) {
    background-color: #94e6e0;
}

.TSH-Table table tr:nth-child(odd) {
    background-color: #ffffff;
}


.TSH-Table table tr:nth-of-type(even) td {
    background-color: lighten(#4ECDC4, 35%);
}

.TSH-Table table tr:hover {
    background-color: #BDD7D6;
    cursor: pointer;
}

.TSH-BOTTOM-TABLE-CONT {
    margin-top: 18px;
}

.TSH-BTM-BTNS-CONT {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.TSH-BTM-BTNS-CONT button {
    padding: 12px;
    background-color: #7F9D9D;
    font-size: 14px;
    border: #7F9D9D;
}

.TSH-BTM-BTNS-CONT button:hover {
    background-color: #a2e0e0;
    cursor: pointer;
}