.CashedWrapper {
    background-color: rgb(138, 232, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CashedContWrapper {
    width: 70%;
    display: flex;
}

.CashedCont {
    background-color: #fff;
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-evenly;
}

.CashedCont h3 {
    font-size: 22px;
    font-weight: normal;
}

.CashedCont h3,
.AmountBox {
    color: #7C6716;
}

.CashedCont span {
    color: black;
}

.MinusCont,
.PlusCont,
.EqualsCont {
    display: flex;
    align-items: flex-end;
}

.Minus,
.Plus,
.Equals {
    padding-top: 50px;
    /* font-size: 26px; */
    font-weight: bold;
}

.AmountBox {
    border: 1.5px solid #7C6716;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:825px) {
    .CashedContWrapper {
        width: 50%;
    }

    .CashedCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .Minus,
    .Plus,
    .Equals {
        padding-top: 0px;
        /* font-size: 26px; */
        font-weight: bold;
    }

    .CashedCont h3,
    .AmountBox,
    .Minus,
    .Plus,
    .Equals {
        font-size: 18px;
    }

    #CashDivs {
        height: 20%;
    }
}